body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: 'JetBrains Mono', monospace;
    background-color: #1e1e1e;
}

h1{
    background-color: transparent;
    color: #AAFF00;
}


div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div > * {
    margin: 10px 0;
}

#b {
  background-color: transparent !important;
  border: 2px solid #BF00FF  !important;
  color: #FFFFFF !important;
  text-decoration: underline !important;
  padding: 12px 24px !important;
  font-size: 18px !important;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  margin: 10px 0;
  display: inline-block;
}

res{
    color:#FFFF33;
}
/*result color#FFFF33*/

h3 {
 
  background-color: transparent !important;
  border: none !important;
  color: #00FFFF !important;
  text-decoration: underline !important;
  padding: 12px 24px !important;
  font-size: 18px !important;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  margin: 10px 0;
  display: inline-block;
}
