body {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e;
  color: white;
  font-family: 'JetBrains Mono', monospace;
  transition: background-color 0.5s ease;
}

#clickBtn, #resetBtn {
  background-color: transparent !important;
  border: 2px solid white !important;
  color: white !important;
  /*text-decoration: underline !important;*/
  padding: 12px 24px !important;
  font-size: 18px !important;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  margin: 10px 0;
  display: inline-block;
}

#count {
    font-size: 52px;
}

#title {
    border-bottom: 4px solid white;
}

#backBtn {
  position: fixed;
  top: 15px;
  left: 15px;
  padding: 8px 14px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background: none;
  color: inherit;
  font-weight: bold;
  font-family: 'JetBrains Mono', monospace;
  cursor: pointer;
  font-size: 24px;
}

#timer {
    font-size: 48px;
}